Черновики
Источники для статьи:
1.	Отчет Министерства Финансов (45 листов) - есть
2.	Отчет Министерства Земледелия и государственных имуществ (20 листов) - есть
3.	Отчет управляющего Морским Министерством Тыртова (6 листов) - есть
4.	Отчет Министерства внутренних дел (11 листов) - есть
5.	Отчет Министерства Юстиции (64 листа) – есть 
6.	Отчет управляющего делами комитета министров Куломзина (найти в архиве)
7.	Отчет Министерства путей сообщения (найти в архиве)
8.	Отчет Министерства иностранных дел (найти в архиве)
9.	Отчет главноуправляющего торговым мореплаванием и портами Рухлова С.В. (найти в архиве)
10.	Отчет министра императорского двора (найти в архиве)
11.	Отчет Синода (8 листов) - есть
12.	Отчет Министерства народного просвещения (3 листа) - есть
13.	Отчет государственного секретаря барона Ю.А. Икскуля (25 листов) - есть
14.	Отчет Собственной Его Императорского Величества канцелярии (3 листа) - есть
15.	Отчет правительства (62 листа) - есть
16.	Отчет председателя Особого секретного совещания графа Воронцова-Дашкова И.И. (9 листов) - есть
17.	Протоколы и журналы заседания Комиссии (1895-1901 гг.) - есть

